__pycache__/
.DS_Store
.idea/
*.egg-info/
src/magnet/_version.py


src/magnet/data/N27_datasheet.h5
src/magnet/data/N27_triangle.h5
src/magnet/data/N49_datasheet.h5
src/magnet/data/N49_triangle.h5
src/magnet/data/N87_datasheet.h5
src/magnet/data/N87_triangle.h5
